* { 
    box-sizing: border-box;
}
@font-face{
    font-family:'Flood std';
    src: url(./../fonts/FloodStd.otf);
}
html, body {   
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #354463;
}
a{
    text-decoration: none;
    color: #354463;
}
header{
    display: flex;
    flex-wrap: wrap;
    font-size:calc(12px + 1.5vw);
    justify-content:space-between;
    width: 100%;
    height: 30%;
}
.title{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content :center;
    width: 50%;
    height: 60%;
}
.navbar{
    display: flex;
    justify-content :center;
    font: lighter 16px/24px Helvetica;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 9%;
    width: 50%;
    height: 60%;

}
.donate{
    box-sizing: border-box;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content :center;
    width: 100%;
    height: 40%;
}
button {
    padding: 3.191vw 31.915vw    ;
    width:100%;
    height: 80%;
    background-color:#C1F7D5;
	border-radius:7.447vw;
	cursor:pointer;
	font-family:Arial;
    text-decoration:none;
    border: none;
}
#main-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('./../images/mobile1.jpg');
    background-size: cover;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding :13.298vw;  
 }
 .quote{
     font-family: 'Flood std';
     font-size:calc(7px + 8vw);
     width: 53.191vw;
     height: 39.894vw;
     color: white;
 } 
.message{
    font-size: calc(10px + 1vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:106.383vw;
    height: 35.191vh;
    background-color:white;
}
.card{
    position: relative;
    top: -6.649vw;
    width: 45.213vw;
    height: 8.298vh;
    background-color: #354463;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
#quote2{
    text-align:center ;
    position: relative;
    font-size: 5.5vw;
    font-weight: bold;
    top: -2.649vw;
    width: 58.947vw;
    height: 21.053vw;
}
#quote3{
    font-size: calc(10px + 1vw);
    text-align:center;
    position: relative;
    text-decoration: underline;
    width:58.947vw;
    height: 10.526vw;
}
footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: #C1F7D5;  
}
.card2{
    top:-3vh;
}
.footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:2.105vw;
    width: 100%;
    height: 10%;


}
.footer2,.footer3,.footer4,.footer5{
    margin: -50px 0 0 0;
    padding-left: 6.316vw;
    padding-right: 6.316vw;
    padding-top:0.4vw ;
    width:50%;
    height: 6.316vw;
}

@media(min-width:768px){
header{
    font-size:calc(22px + 0.5 vw );
    /* font-size: 2.5vw ;     */
}
.title{
    order:1;
    padding-top:3% ;
    justify-content: flex-start;
    padding-left: 5%;
    height: 50%;
    width: 80%;
}
.donate{
    order: 2;
    padding-top: 8%;
    height: 50%;
    width: 20%;
}
.navbar{
    box-sizing: border-box;
    flex-direction: row;
    justify-content:space-between;
    padding:0% 0% 0% 5%;
    order: 3;
    height:30%;
    width: 60%;
}
button{
    padding:1em; 
}
#main-content{  
    background-image: url("./../images/tablet1.jpg");
    padding-left: 9.766vw; 
    padding: 7.813vw;
} 
.quote{
    font-size:calc(7px + 5vw);
} 
.message{    
    position: relative;
    top: -10.510vw;
    width: 250vw;
    height: 40.807vh;

}
.card{
    right: 17.094vw;
    top: -2.849vw;
    width: 25.786vw;
    height: 8.208vh;
}
#quote2{
    text-align: left;
    font-size: calc(35px + 0.2vw);
    top: 0.391vw;
    width:60.635vw;
    height: 16.927vw;
}
#quote3{
    text-align: left;
    top: 0.649vw;
    width:60.635vw;
    height: 6.510vw;
}
.card2{
    left:0px ;
    top: -3.906vw;
}
}
@media(min-width: 1025px){
header{
    font-size:calc(19px + 0.3vw);  
    flex-direction: row;
    height: 20%;
    align-items: baseline;
}
.title{
    order:1;
    padding-top:3% ;
    padding-left: 5%;
    height: 100%;
    width: 30%;
}

.navbar{
    padding-left: 0;
    width: 40%;
    height: 100%;
}
.donate{
    order: 3;
    padding-top: 3%;
    height: 100%;
    width: 30%;
}
button{
    padding:1em; 
}
#main-content{
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    background-image: url("./../images/desktop1.jpg");
    background-size: cover;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0; 
 }
 .message{
     top: 1vw;
     height: 62.195vh;
     width: 38.042vw;
     left: -0.5vw;
  
} 
.quote{
    position: relative;
    top: -8.881vw;
    font-size: 3.932vw;
    right: 10vw;
    width: 19.659vw;
    height: 13.106vw;
} 
.card{
    height: 3.277vw;
    width: 16.383vw;
    left: -7vw;
    top: -1.4vw;
}
#quote2{
    line-height: 6vh;
    font-size: calc(28px + 0.2vw);
    letter-spacing: 3px;
    left: -2.5vw;
    top: -2vw;
    width:25.318vw;
    height: 25.106vh;
}
#quote3{
    /* border: 1px solid red; */
    width:30vw;
    height: 5vh;
    /* left: 1.5vw; */
    font-size: 1.2vw;
    top: 0vw;
}
.card2{
    left:0px ;
    top: -3.277vw;
}
footer{
    height: 30%;
    justify-content: center;
}
.footer2,.footer3,.footer4,.footer5{
    width: 21%;
    /* padding-right: px; */
    padding-left:0px ;
}
}